# Dependências
node_modules
.npm

# Build
dist
dist-ssr

# Ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln